* {
    padding: 0%;
    margin: 0%;
    font-family: sans-serif;
}
.nav {
    display: flex;
    background-color: rgb(243, 243, 78);

}
.nav-item {
    flex-grow: 1;
    text-align: center;
    padding: 1%;
    margin: 1% 10%;
    border: 2px solid black;
    background-color: lightgreen;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    
}
.line {
    padding: 1% 0%;
    border-top: 1px solid black;
}
#search {
    width: 600px;
    display: flex;
    margin: auto;
    border: 1px solid rgb(133, 129, 129);
    border-radius: 5px;
}
#receipe {
    flex-grow: 1;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
#receipe, #submit {
    padding: 12px;
    border: none;
    outline: none;
    font-size: 18px;
}
#submit {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: limegreen;
    padding: 0px 20px;
    cursor: pointer;
    color: white;
}
img {
    height: 300px;
    width: 350px;
    margin: 20px auto;
    display: block;
    border: 2px solid black;
    border-radius: 20px;
}
#dishes {
    width: 800px;
    margin: auto;
}
p {
    text-align: justify;
}
h1 {
    text-align: center;
    margin: 20px 10px 0px 0px;
    padding: 20px;
    background-color: lightsalmon;
    border-radius: 10px;
}
#dishes div {
    margin: 20px;
    padding: 20px;
    border-radius: 20px;
    border: 2px solid black;
}
span {
    padding: 4px;
    background-color: rgb(194, 195, 196);
    border-radius: 12px;
    padding-left: 20px;
    margin: 4px 6px 4px 0px;
    display: block;
    font-size: 18px;
}